.header {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: 0;
    padding: 0;
}

.headerTitleContainer {
}

.headerTitle {}

.headerSubtitle {}

.headerButton {
    max-width: fit-content;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
}

.headerPicsContainer {
}

.cardsContainer {
    margin: 35px auto 0 auto;
    align-items: center;
    max-width: 90vw;
}

.card {
    align-items: center;
    justify-content: center;
}

.cardImg {
    width: 100%;
}

.cardContent {
    margin: 0;
    padding: 0;
    background-color: rgb(39,39,39);
    text-align: center;
    width: 100%;
    height: 200px;
}

.cardButton {
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);
}
